---
import Social from "./Social.astro";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>chat me:</p>
  <Social platform="github" username="cpf2021-gif" domain="com"/>
  <Social platform="twitter" username="xypf3" domain="com"/>
  <Social platform="juejin" username="user/3567236653780398" domain="cn"/>
</footer>
