---
import Navigation from "./Navigation.astro";
import Hambuger from "./Hambuger.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <nav>
    <Hambuger />
    <ThemeIcon />
    <Navigation />
  </nav>
</header>
